/*--Constantes--*/
:root{
    /*colores*/
    --bg2:#f5f4f0;
    --bg: #0f1117;
    --surface:#1a1d27;
    --border:#2a2d3a;
    --accent:#00c896;
    --accent-lt: #00c8966a;
    --text:#e8eaf0;
    --muted:#d9ddec;
    /*Fuentes de texto y bordes*/
    --radius:18px;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    --font-head: 'DM Mono', monospace;
    --font-body: 'DM Sans', sans-serif;
}
/*-----Reset----*/
*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-----Body----*/
body{
    background: var(--bg);
    font-family: var(--font-body);
    color: var(--text);
    min-height: 100vh;
}
/*---Header---*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:22px 40px;
    background: var(--surface);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-tag{
    font-family: var(--font-head);
    font-size: 0.75rem;
    color: var(--muted);
    letter-spacing: 0.04em;
}
/*---Logo---*/
.logo{
    font-family: var(--font-head);
    font-size: 1.35rem;
    font-weight: 500;
    color: var(--text);
}
.logo span{
    color: var(--accent-lt);
}
/*---Main---*/
main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 52px 24px 80px;
}
.page-intro{
    margin-bottom: 44px;
}
.page-intro h2{
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--muted);
    font-family: var(--font-head);
    letter-spacing: 0.02em;
    margin-bottom: 6px;
}
.page-intro p{
    font-size: 0.9rem;
    color: var(--muted);
    font-weight: 300;
}
/*Card & Grdid*/
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));/*pone todas las columnas que quepan, cada una de mínimo 240px y máximo el espacio disponible*/
    gap: 18px;
}
.card{
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 28px 26px 24px;
    cursor: pointer;
    transition: transform 0.18s ease, box-shadow 0.18s ease, border-color 0.18s ease; /*hace que la transcicion del hover sea suave y no instantanea*/
    position: relative;
    overflow: hidden;
}
/*Card: icon,Title,Descripcion y Tag*/
.card-icon {
    font-size: 1.5rem;
    margin-bottom: 14px;
}
.card-title{
    font-family: var(--font-head);
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 6px;
}
.card-desc{
    font-size: 0.8rem;
    color: var(--muted);
    line-height: 1.5;
    font-weight: 300;
}
.card-tag{
    display: inline-block;
    margin-top: 16px;
    font-family: var(--font-head);
    font-size: 0.68rem;
    color: var(--accent);
    background-color: var(--accent-lt);
    padding: 3px 9px;
    border-radius: 99px;
    letter-spacing: 0.03em;
}
/*Card Hover*/
.card::before {
    content: '';             
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--accent-lt);
    opacity: 0;               /* invisible por defecto */
    transition: opacity 0.18s ease;
    border-radius: var(--radius) 0 0 var(--radius);
  }

.card:hover::before {
    opacity: 1;               /* aparece al hacer hover */
}
/*---------Modales:Overlay-----------*/
.overlay{
    display: none;
    position:fixed;
    inset:0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    z-index: 200;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.overlay.active{
    display: flex;
}
    
/*---------Modales:Modal-----------*/
 .modal {
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 36px 36px 32px;
    width: 100%;
    max-width: 460px;
    box-shadow: var(--shadow);
 }
 /*---------Modales:Modal-header-----------*/
 .modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
 }
 /*---------Modales:Modal-title----------*/
 .modal-title{
    font-family: var(--font-head);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text);
 }
 /*---------Modales:Modal-close----------*/
 .modal-close{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--muted);
    padding: 2px 6px;
    border-radius: 6px;
    transition: background 0.15s;
 }
 /*--------Formula hint-----------*/
 .formula-hint{
    font-family: var(--font-head);
    font-size: 0.78rem;
    color: var(--muted);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
 }
 /*--------Modales:Modal-divisor----*/
 .modal-divider{
    height: 1px;
    background: var(--border);
    margin: 2opx 0;
 }
/*----Fields-------*/
.field{
    margin-bottom: 18px;
}
.field label{
    display: block;
    font-size: 0.78rem;
    font-weight: 500;
    color: var(--muted);
    margin-bottom: 7px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    font-family: var(--font-head);
}
.field input,.field select{
    width: 100%;
    padding: 11px 14px;
    border: 1px solid var(--border);
    border-radius: 10px;
    font-family: var(--font-body);
    font-size: 0.92rem;
    color: var(--text);
    background: var(--bg);
    outline: none;
    transition: border-color 0.15s;
}
.field input:focus, .field select:focus{
    border-color: var(--accent);
}

#mm-elementos{
    max-height: 280px;
    overflow-y: auto;
    padding-right: 6px;
}
/*Ajustes para la barra de scroll de Masa Molar*/
#mm-elementos::-webkit-scrollbar {
    width: 4px;
}

#mm-elementos::-webkit-scrollbar-track {
    background: var(--border);
    border-radius: 99px;
}

#mm-elementos::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 99px;
}
/*--------Boton:Calcular-------*/
.btn-calc{
    width: 100%;
    padding: 13px;
    background: var(--accent);
    color: #0f1117;
    border: none;
    border-radius: 10px;
    font-family: var(--font-head);
    font-size: 0.88rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.03em;
    margin-top: 6px;
    transition: opacity 0.15s, transform 0.12s;
}
.btn-calc:hover{
    opacity: 0.88;
    transform: translateY(-1px);
}
.btn-calc:active{
    transform: translateY(0);
}
/*-------Boton:Eliminar------*/
.btn-eliminar{
    background: none;
    border: 1px solid var(--border);
    color: var(--muted);
    border-radius: 8px;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background 0.15s,color 0.15s;
    margin-bottom: 18px;
}
.btn-eliminar:hover{
    background:var(--border);

}
/*-------Result box------*/
.result-box{
    display: none;
    margin-top: 20px;
    padding: 16px 18px;
    background: var(--accent-lt);
    border-radius: 10px;
    border-left: 3px solid var(--accent);
}
.result-box.visible{
    display: block;
}
.result-label{
    font-family: var(--font-head);
    font-size: 0.8rem;
    color: var(--accent);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.result-value{
    font-family: var(--font-head);
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 500;
}
.result-unit{
    font-size: 0.82rem;
    color: var(--muted);
    margin-top: 4px;
}
/*---------Responsive Desing---------*/
@media (max-width: 600px) {
    header {
      padding: 18px 20px;  /* menos padding en móvil */
    }
  
    main {
      padding: 36px 16px 60px;  /* menos padding en móvil */
    }
  
    .modal {
      padding: 28px 22px 26px;  /* modal más compacto */
    }
  
    .card-grid {
      grid-template-columns: 1fr;  /* una sola columna en móvil */
    }
  }
 

